---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import headerbryllup from "../assets/images/headerbryllup.jpg";
import vielserchart from "../assets/images/vielserchart.svg";
---

<MainLayout>
    <section style="background-image:">
        <Image class="w-full h-1/2 bg-center bg-no-repeat bg-cover" src={headerbryllup} alt="Vielsesringe i nogen hænder" />
            <div class="absolute lg:pt-24 inset-0 flex items-start justify-center text-center">
                <h1 class="text-grey-300 text-3xl md:text-5xl lg:text-7xl font-bold">Ændringer i Vielsesvalg<br/><span class="block mt-4">Under og Efter Corona-pandemien</span></h1>
            </div>
    </section>

<article class="grid justify-items-center mx-auto container gap-4 pt-4">
    <div class="prose">
        <h2 class="pt-14">Ændringer i Vielsesvalg fra 2019 til 2022</h2>

        <p>I de seneste år har vielsespræferencer været under markante forandringer som følge af pandemien.
            I 2020 oplevede kirkelige vielser et betydeligt fald, sandsynligvis på grund af restriktioner og sikkerhedsforanstaltninger.
            Efterhånden som restriktionerne lettede, begyndte flere par at vende tilbage til kirkelige bryllupper,
            men antallet forblev stadig under niveauet før pandemien.
            </p>

        <p>I kontrast til dette har borgerlige vielser vundet stigende popularitet. Mange par ser nu borgerlige vielser som en mere fleksibel løsning,
hvilket har resulteret i en markant stigning i disse vielser i 2021 og 2022.
Samtidig har vielser i udlandet og uoplyste vielser holdt sig på et lavt niveau, men viser en svag stigning. Dette tyder på,
at flere par er begyndt at overveje alternative bryllupsformer, hvilket afspejler en ændring i,
hvordan folk planlægger deres vielser i en post-pandemisk verden.</p>
</div>

          <div class="w-1/2 h-auto pt-4">
                <Image class="w-full h-auto" src={vielserchart} alt="oversigt over coronas påvirkelse på vielses" />
                <p>Caption... <span class="italic">Lavet i Figma.</span></p>
         </div>

          <p class="prose pt-8 pb-[40px]">Den grå linje, der indikerer borgerlige vielser, viser en stigning.
            I 2020 overgik antallet af borgerlige vielser kirkelige vielser,
            og denne tendens fortsætter med en endnu stærkere stigning i 2021 og 2022. Dette tyder på,
            at flere par ser borgerlige vielser som en mere fleksibel løsning under og efter pandemien,
            hvor kirker stadig kunne have begrænsninger. Den orange linje, der repræsenterer vielser i udlandet og uoplyste vielser,
            har holdt sig på et relativt lavt niveau, men viser en stabil stigning fra 2020 til 2022. Dette indikerer,
            at nogle par begynder at overveje alternative muligheder i en usikker tid.
            </p>
    </article>
</MainLayout>
